<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="pos" connectionString="datasource=127.0.0.1;port=3306;username=fsd;password=fsd123;database=fsddb;" />
    <add name="Point_of_Sale.Properties.Settings.ConnectionString"
      connectionString="Dsn=FSD32;Driver={MariaDB ODBC 3.0 Driver};description=FSD;tcpip=1;server=127.0.0.1;uid=fsd;port=3306"
      providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>